.failed-container {
  text-align: center;
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.failed-container h1 {
  font-size: 2rem;
  color: #ef4444;
  /* Rojo para indicar error */
  margin-bottom: 1rem;
}

.failed-container p {
  font-size: 1rem;
  color: #374151;
  margin-bottom: 2rem;
}

.failed-container button {
  width: 95%;
  padding: 0.75rem 1.5rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.failed-container button:hover {
  background-color: #2563eb;
}

.svg {
  color: #ef4444;
}
