.containerGeneral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.containerTitleResumenPedido {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.containerTitleResumenPedido,
.containerTitleResumenPago {
  display: flex;
  justify-content: start;
  width: 90%;
}

.containerInfoResumen,
.containerInfoPago {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9fafc;
  border-radius: 17px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  padding: 0px;
  gap: 15px;
  margin-bottom: 20px;
}

.containerInfoResumen {
  padding: 20px;
}

.containerInfoPago {
  height: 80vh;
}

.summaryItem,
.summaryItemEspecial {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #afafaf;
}

.spanText {
  font-weight: 500;
}

.paymentOptions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.option {
  font-size: 14px;
  font-weight: bold;
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: #e3e7ec;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  background-color: #0340a2;
  color: #fff;
}

.qrContainer {
  max-width: 130px;
  max-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.web3Container {
  max-width: 160px;
  max-height: 90px;
  margin-bottom: 70px;
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
}

.metaMaskIcon {
  width: 100%;
  height: auto;
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
  /* padding: 10px; */
}

.web3Button {
  border-radius: 10px;
  max-width: 190px;
  height: 150px;
  background-color: #fff;
  border: #afafaf 1px solid;
  transition: 0.4s;
  padding: 10px;
}

.cryptoInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  margin-bottom: 20px;
  padding: 10px;
}

.reloj {
  transform: translateY(3px);
}

.web3Button:hover {
  border: #000000 1px solid;
}

.copyIcon {
  color: #3989eb;
  margin-left: 10px;
  transform: translateY(5px);
  cursor: pointer;
}

.active {
  background: #0057ff;
  color: #fff;
}

@media (min-width: 768px) {
  .containerGeneral {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .containerResumen,
  .containerRealizarPago {
    width: 45%;
    margin-bottom: 0;
  }

  .title {
    text-align: left;
  }

  .paymentOptions {
    gap: 20px;
  }

  .option {
    width: 100px;
    height: 40px;
  }
}
