.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: blue; */
  gap: 30px;
}

.title {
  text-align: start;
}

.containerTitleResumen {
  width: 90%;
  display: flex;
  align-items: start;
}

.containerResumen {
  width: 73%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.containerInfoResumen {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  padding: 25px;
  border-radius: 17px;
  background-color: #f9fafc;
}

.summaryItem {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-left: 20px;
  border-bottom: 1px solid #afafaf;
}

.summaryItemEspecial {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-left: 20px;
  /* border-bottom: 1px solid #afafaf; */
}

.spanText {
  font-weight: 500;
  transform: translateY(-15px);
}

.containerRealizarPago {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.paymentOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.option {
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 27px;
  background-color: #035ac5;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  background-color: #0340a2;
}

.qrContainer {
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.cryptoInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}
